body {
	text-align: center;
	background-color: #bde6ff;
}



.card1 {
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../image/image_outline/game_01.png);

	display: inline-block;
	height: 152px;
	width: 152px;
	margin: 0 10px 0 10px;
	 border: 4px solid #b0d2a8;
    border-radius: 10px;
    box-shadow: 4px 5px 0px #fff;
}

.card2 {
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../image/image_outline/game_02.png);

	display: inline-block;
	height: 152px;
	width: 152px;
	margin: 0 10px 0 10px;
	border: 4px solid #b0d2a8;
    border-radius: 10px;
    box-shadow: 4px 5px 0px #fff;
}

.card3 {
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../image/image_outline/game_03.png);

	display: inline-block;
	height: 152px;
	width: 152px;
	margin: 0 10px 0 10px;
	 border: 4px solid #b0d2a8;
    border-radius: 10px;
    box-shadow: 4px 5px 0px #fff;
}

.card {
	margin-top: 50px;
}

h2 {
	margin-top: 120px;
	font-size: 35px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.t {
	display:inline-block;
	width: 142px;
	margin: 0 20px 0 20px;
	font-size: 17px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-decoration: none;
	color:black;
}

.t:hover {
	color:red;
}

.t1 {
	display:inline-block;
	width: 142px;
	margin: 0 20px 0 20px;
	font-size: 17px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-decoration: none;
	color:black;
}

.t1:hover {
	color:red;
}


.t2 {
	display:inline-block;
	width: 142px;
	margin: 0 20px 0 20px;
	font-size: 17px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-decoration: none;
	color:black;
}

.t2:hover {
	color:red;
}


.t3 {
	display:inline-block;
	width: 142px;
	margin: 0 20px 0 20px;
	font-size: 17px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-decoration: none;
	color:black;
}

.t3:hover {
	color:red;
}

